<div>
    <div>
        <!-- List of Candidates -->
        <h3>Manage Candidates</h3>
        <table>
          <tbody>
            <tr ng-repeat="candidate in $ctrl.candidates">
              <td ng-bind="candidate.name"></td>
              <td><button type="button" class="btn btn-danger" ng-click="$ctrl.deleteCandidate(candidate.name)"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
          </tbody>
        </table>

    </div>
    <div>
        <!-- Candidate Form -->
        <h4>Add Candidate</h4>
        <div ng-form="$ctrl.form">
            <div class="candidate-name">
                <input type="text" placeholder="Enter Candidate Name" required ng-model="$ctrl.newCandidate.name"/>
                <button type="button" class="btn btn-success add" ng-click="$ctrl.addNewCandidate($ctrl.newCandidate)"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
    </div>
</div>
