@font-face {
  font-family: 'Libre Franklin';
  src: url("Vendors/Libre_Franklin/LibreFranklin-Regular.ttf");
}

.main-title {
  text-align: center;
  font-family: 'Libre Franklin';
  font-weight: bold;
  font-size: 3em;
  padding-bottom: .5em;
}

.btn {
  margin-left: .75em;
}

main {
  font-family: 'Libre Franklin';
}

.results-header {
  background-color: #5588aa;
  color: white;
}

.manage {
  display: inline-block;
  border: .10em solid #5588aa;
  margin-bottom: 1em;
  padding: 0em 1em 1em 1em;
  background-color: #5588aa;
  color: white;
}

.vote-header {
  font-size: 2em;
  text-align: center;
  background-color: #5bc0de;
  color: white;
}

.vote-options {
  text-align: center;
}

.horizontal-buttons {
  display: inline-block;
}

.horizontal {
  color: white;
}

.blue-table {
  border: .22em solid #46b8da;
}

.add-candidate-title {
  display: inline-block;
  margin-right: .5em;
}

.delete-click:hover {
  cursor: pointer;
}

.remove-icon {
  color: white;
  font-size: 1.2em;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th{
    border: none;
}

.animal-pic {
  display: inline;
  padding-left: 10em;

}

.animals {
  height: auto;
  max-width: 40%;
}

.placeholder {
  color: black
}

.manage-container {
  display: block;
}
